/* * {
    box-sizing: border-box;
} */

body {
    background-image: url("../../assets/images/paper_fibers.png");
    background-repeat: repeat;
    text-align: center;
    line-height: 1.5;
    color: #ccc;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#header {
    width: 100%;
    height: 90px;
    padding: 0;
    background: #fff;
    border-bottom: solid;
    border-bottom-color: #ccc;
}

#div1 {
    width: 960px;
    height: 90px;
    margin: 0 auto;
}

#div2 {
    background: #4aaaa5;
    color: #eee;
    float: left;
    width: 250px;
    height: 90px;
}

#nav {
    background: #fff;
    color: #ccc;
    padding: 30px 30px 0 30px;
    height: 30px;
    width: 210px;
    float: right;    
}

#main {
    background: #fff;
    width: 920px;
    text-align: left;
    margin: 30px auto;
    padding: 0 20px;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
}

#div5 {
    color: #4aaaa5;
    padding: 20px 0;
}

#div6 {
    border-top: solid;
    border-top-color: #ccc;
    padding: 20px 0;
    color: #777;
}

#image1 {
    float: left;
    height: 200px;
    width:  200px;
    margin: 10px 20px 10px 0;
}

/*settings for color bar above footer and clears floats */
#hr1 { 
    display: block;
    margin: 0 auto;
    border-width: 0;
    height: 10px;
    
    content: "";
    display: block;
    clear: both;
    background-color: #4aaaa5;  
}

#divbottom {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

#footer {
    background: #666;
    color: #ccc;
    font-size: 12px;
    padding: 26px 20px 5px 20px;
    height: 60px;
}

 /* unvisited link */
 a:link {
    color: #ccc;
}

/* visited link */
a:visited {
    color: #ccc;
}

/* mouse over link */
a:hover {
    color: lightblue;
}

/* selected link */
a:active {
    color: #4aaaa5;
} 

/*Submit button for contact page*/
#button1 {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.img {
    height: 200px;
    width: 200px;
    margin: 10px;
}

@media screen and (max-width: 980px) {
    body {

    }
}

@media screen and (max-width: 768px) {
    body {

    }
}

@media screen and (max-width: 640px) {
    body {

    }
} 